<% provide(:title, @Station.company.name + ' ' + @Station.name + '駅 訪問記録 編集画面') %>
<header>
  <h1 id="edit"><%= @Station.company.name %> <%= @Station.name %>駅 訪問記録 編集画面</h1>
</header>
<article>
  <dl>
    <dt>駅名 （ふりがな）<dt>
    <dd><%= @Station.name %> （<%= @Station.name_ruby %>）</dd>
    <dt>都道府県<dt>
    <dd><%= @Station.state.name %></dd>
    <dt>会社名<dt>
    <dd><%= @Station.company.name %></dd>
    <p class="s_title">訪問記録</p>
    <table border="1">
      <col span="2" width="75" />
      <tbody>
        <tr>
          <th>訪問日</th>
          <th>訪問チェック</th>
          <th>編集ボタン</th>
        </tr>
    <% form_for(@Status) do |f| %>
        <tr>
          <td><%= f.number_field :visit_day %>年</td>
          <td></td>
          <td><%= f.submit '更新する'%></td>
        </tr>
    <% end %>
      </tbody>
    </table>
  </dl>
</article>
