<h1><%= @Station.company.name %> <%= @Station.name %>駅 詳細</h1>
<div id="contents">
<dl>
  <dt>駅名 （ふりがな）<dt>
  <dd><%= @Station.name %> （<%= @Station.name_ruby %>）</dd>
  <dt>都道府県<dt>
  <dd><%= @Station.state.name %></dd>
  <dt>会社名<dt>
  <dd><%= @Station.company.name %></dd>
</dl>
