<% provide(:title, @Station.company.name + ' ' + @Station.name + '駅 詳細') %>
<nav>
  <ul>
<%= render partial: 'nav' %>
    <li><%= link_to @Station.company.name + ' 路線一覧', rosen_index_company_path(@Station.company_id) %></li>
    <li><%= link_to @Station.company.name + ' 駅一覧', station_index_company_path(@Station.company_id) %></li>
  </ul>
</nav>
<header>
  <h1 id="show"><%= @Station.company.name %> <%= @Station.name %>駅 詳細</h1>
</header>
<article>
<% if flash[:notice] %>
  <div id="sub">
    <p><%= flash[:notice] %></p>
  </div>
<% end %>
  <div class="links">
    <ul>
      <li><%= link_to "訪問記録の編集", station_edit_path(@Station) %></li>
    </ul>
  </div>
<% if @Station.abolished_flag? %>
  <p id="abo_warn">この駅は廃止されています。</p>
<% end %>
  <dl id="station_summary">
    <dt>駅名 （ふりがな）<dt>
    <dd><%= @Station.name %> （<%= @Station.name_ruby %>）</dd>
    <dt>都道府県<dt>
    <dd><%= @Station.state.name %></dd>
    <dt>会社名<dt>
    <dd><%= @Station.company.name %></dd>
<% if !@Station.abolished_flag? %>
    <dt>接続路線</dt>
    <dd>
      <table border="1">
        <tbody>
    <% @arr.each do |a| %>
    <% a.each do |a2| %>
          <tr>
            <td>&lt;&lt <%= link_to a2[4], station_detail_path(a2[5]) %></td>
            <td><%= link_to a2[1] + " (" + a2[2] + "～" + a2[3] + ")", rosen_detail_path(a2[0]) %></td>
            <td><%= link_to a2[6], station_detail_path(a2[7]) %> &gt;&gt;</td>
          </tr>
    <% end %>
    <% end %>
        </tbody>
      </table>
  </dd>
<% end %>
  </dl>
  <p class="s_title">訪問記録</p>
  <table border="1">
    <col span="1" width="100" />
    <col span="1" width="90" />
    <tbody>
      <tr>
        <th>訪問日</th>
        <th>訪問チェック</th>
      </tr>
      <tr>
        <td class="date"><%= @Status.visit_day %></td>
        <td class="chk"><% if @Status.visit_chk? %>訪問済み<% else %>未訪問<% end %></td>
      </tr>
    </tbody>
  </table>
  <div class="links">
    <ul>
      <li><%= link_to "訪問記録の編集", station_edit_path(@Station) %></li>
    </ul>
  </div>
</article>
