<% provide(:title, @Station.company.name + ' ' + @Station.name + '駅 訪問記録 編集画面') %>
<header>
  <h1 id="edit"><%= @Station.company.name %> <%= @Station.name %>駅 訪問記録 編集画面</h1>
</header>
<article>
  <dl>
    <dt>駅名 （ふりがな）<dt>
    <dd><%= @Station.name %> （<%= @Station.name_ruby %>）</dd>
    <dt>都道府県<dt>
    <dd><%= @Station.state.name %></dd>
    <dt>会社名<dt>
    <dd><%= @Station.company.name %></dd>
  </dl>
  <p class="s_title">訪問記録</p>
<%= form_for(@Status, :url => {:controller => 'user_station_statuses', :action => 'update'}) do |f| %>
  <table border="1">
    <tbody>
      <tr>
        <th>訪問日</th>
        <th>訪問チェック</th>
      </tr>
      <tr>
        <td><%= f.date_select :visit_day, include_blank: true, ignore_date: false, use_month_numbers: true, start_year: 1872, end_year: (Time.now.year), default: (@Status.visit_day), date_separator: '/' %></td>
        <td class="chk"><%= f.check_box :visit_chk %></td>
      </tr>
    </tbody>
  </table>
  <p>※日付を入力した場合、訪問チェックは自動で反映されます。</p>
  <p><%= f.submit '更新する', data: {disable_with: "送信中..."} %></p>
<% end %>
</article>
