<% provide(:title, @Rosen.name + ' ' + @Rosen.start_station.name + '～' + @Rosen.end_station.name + ' 駅間乗車記録 編集画面') %>
<nav>
  <ul>
<%= render partial: 'nav' %>
    <li><%= link_to @Rosen.company.name + ' 路線一覧', rosen_index_company_path(@Rosen.company_id) %></li>
    <li><%= link_to @Rosen.company.name + ' 駅一覧', station_index_company_path(@Rosen.company_id) %></li>
  </ul>
</nav>
<header>
  <h1 id="edit"><%= @Rosen.name %> （<%= @Rosen.start_station.name %>～<%= @Rosen.end_station.name %>） 駅間乗車記録 編集画面</h1>
</header>
<article>
<% if flash[:alert] %>
  <div id="caution">
    <p><%= flash[:alert] %></p>
  </div>
<% end %>
<% if flash[:notice] %>
  <div id="sub">
    <p><%= flash[:notice] %>
  </div>
<% end %>
  <div class="links">
    <ul>
      <li><%= link_to @Rosen.name + 'へ戻る', rosen_detail_path(@Rosen) %></li>
    </ul>
  </div>
  <div id="announce">
    <p>※「始区間」と「終区間」に挟まれた区間のデータを更新します。</p>
  </div>
<%= form_for(@Rosen, :url => {:controller => 'user_section_statuses', :action => 'update'}) do |f| %>
  <table border="1">
    <col span="2" width="50" />
    <col span="2" width="250" />
    <col span="1" width="80" />
    <col span="1" width="100" />
    <col span="1" width="90" />
    <tbody>
      <tr>
        <th>始区間<%= radio_button "user_section_status", "startcheck", "0", {:checked => true, :style => "display:none;"} %></th>
        <th>終区間<%= radio_button "user_section_status", "endcheck", "0", {:checked => true, :style => "display:none;"} %></th>
        <th>開始駅</th>
        <th>終了駅</th>
        <th>営業キロ</th>
        <th>乗車日</th>
        <th>乗車チェック</th>
      </tr>
    <% @Sections.each do |s| %>
        <% if s.abolished_flag? %>
      <tr class="abo">
        <% else %>
      <tr>
        <% end %>
        <td class="chk"><%= radio_button "user_section_status", "startcheck", s.section_sub_id %></td>
        <td class="chk"><%= radio_button "user_section_status", "endcheck", s.section_sub_id %></td>
        <td><%= s.start_station.name %></td>
        <td><%= s.end_station.name %></td>
        <td class="kilo"><%= s.kilo %></td>
        <% s.user_section_statuses.each do |u| %>
        <td class="date"><%= u.ride_day %></td>
        <td class="chk"><% if u.ride_chk? %>●<%  end %></td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
  <p>乗車日：<%= date_select "user_section_status", "ride_day", include_blank: true, ignore_date: true, use_month_numbers: true, start_year: (Time.now.year), end_year: 1872, date_separator: '/' %>　（乗車日を入力しない場合は空欄にしてください。）　<%= hidden_field "user_rosen_status", "ride_kilo_sum" %><%= f.submit '更新する', data: {disable_with: "送信中..."} %>　<%= f.submit '続けて更新する', name: "continue_edit", data: {disable_with: "送信中..."} %></p>
  <p>乗車記録の削除　<%= f.submit '削除する', name: "erase_button", data: {disable_with: "送信中..."} %></p>
<% end %>
  <div class="links">
    <ul>
      <li><%= link_to @Rosen.name + 'へ戻る', rosen_detail_path(@Rosen) %></li>
    </ul>
  </div>
</article>
