<% provide(:title, @Rosen.name + ' ' + @Rosen.start_station.name + '～' + @Rosen.end_station.name + ' 駅間詳細') %>
<nav>
  <ul>
<%= render partial: 'nav' %>
    <li><%= link_to @Rosen.company.name + ' 路線一覧', rosen_index_company_path(@Rosen.company_id) %></li>
    <li><%= link_to @Rosen.company.name + ' 駅一覧', station_index_company_path(@Rosen.company_id) %></li>
  </ul>
</nav>
<header>
  <h1 id="show"><%= @Rosen.name %> （<%= @Rosen.start_station.name %>～<%= @Rosen.end_station.name %>） 駅間詳細</h1>
</header>
<article>
<% if flash[:notice] %>
  <div id="sub">
    <p><%= flash[:notice] %></p>
  </div>
<% end %>
  <div class="links">
    <ul>
      <li><%= link_to '乗車記録の編集', section_edit_path(@Rosen) %></li>
<% if !@Rosen.abolished_flag? %>
      <li><%= link_to @Rosen.name + ' 駅一覧', station_index_rosen_path(@Rosen) %></li>
<% end %>
    </ul>
  </div>
  <table border="1">
    <col span="2" width="200" />
    <col span="3" width="80" />
    <tbody>
      <tr>
        <th>開始駅</th>
        <th>終了駅</th>
        <th>営業キロ</th>
        <th>乗車日</th>
        <th>乗車チェック</th>
      </tr>
    <% @Sections.each do |s| %>
        <% if s.abolished_flag? %>
      <tr class="abo">
        <% else %>
      <tr>
        <% end %>
        <td><%= link_to s.start_station.name, station_detail_path(s.start_station.id) %></td>
        <td><%= link_to s.end_station.name, station_detail_path(s.end_station.id) %></td>
        <td class="kilo"><%= s.kilo %></td>
        <% s.user_section_statuses.each do |u| %>
        <td class="date"><%= u.ride_day %></td>
        <td class="chk"><% if u.ride_chk? %>●<%  end %></td>
        <% end %>
      </tr>
    <% end %>
      <tr>
        <td colspan="2" class="foot">合計</td>
        <td class="kilo"><%= @Rosen.kilo %></td>
        <td class="foot">乗車キロ</td>
        <td class="kilo"><%= @Section_sum %></td>
      </tr>
    </tbody>
  </table>
  <div class="links">  
    <ul>
      <li><%= link_to '乗車記録の編集', section_edit_path(@Rosen) %></li>
<% if !@Rosen.abolished_flag? %>
      <li><%= link_to @Rosen.name + ' 駅一覧', station_index_rosen_path(@Rosen) %></li>
<% end %>
    </ul>
  </div>
</article>
