<h1><%= @Rosen.name %> （<%= @Rosen.start_station.name %>～<%= @Rosen.end_station.name %>）駅間詳細</h1>
<table border="1">
  <col span="2" width="200" />
  <col span="1" width="75" />
  <tbody>
    <tr>
      <th>開始駅</th>
      <th>終了駅</th>
      <th>営業キロ</th>
    </tr>
    <% @Sections.each do |s| %>
    <tr>
      <td><%= link_to s.start_station.name, station_detail_path(s.start_station.id) %></td>
      <td><%= link_to s.end_station.name, station_detail_path(s.end_station.id) %></td>
      <td class="kilo"><%= s.kilo %></td>
   </tr>
   <% end %>
  </tbody>
</table>
