<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <% if signed_in? %>
  <title>＜新・鉄道乗りつぶし記録＞ | <%= yield(:title) %></title>
</head>
<body>
<ul>
  <li><%= link_to 'ダッシュボード', :controller => 'dashboards', :action => 'show' %></li>
  <li><%= link_to '日本国内鉄道会社一覧', :controller => 'companies', :action => 'index' %></li>
  <li><%= link_to 'ログアウト', signout_path, method: :delete %></li>
</ul>
  <%= yield %>

  <% else %>
  <title>＜新・鉄道乗りつぶし記録＞ | ログイン</title>
</head>
<body>
<h1>ログイン</h1>

<%= form_for(:session, url: sessions_path) do |f| %>

  <table border="1">
    <tr>
      <th><%= f.label :email, 'メールアドレス' %></th>
      <td><%= f.text_field :email %></td>
    </tr>
    <tr>
      <th><%= f.label :password, 'パスワード' %></th>
      <td><%= f.password_field :password %></td>
    </tr>
  </table>

  <%= f.submit 'ログインする' %>

<% end %>
  <% end %>
</body>
</html>
